/* ==========================================================================
   $Variables
   ========================================================================== */
/* $Fonts
   ========================================================================== */
/* $Colors
      ========================================================================== */
/* $Radius
      ========================================================================== */
/* $Easing
      ========================================================================== */
/* ==========================================================================
      $Mixins
      ========================================================================== */
/* ==========================================================================
      $Globals
      ========================================================================== */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #04A777;
  font: 18px/1.277 "Jaldi", sans-serif;
  color: #fff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.wrap {
  max-width: 80%;
}

iframe {
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus {
  outline-color: #04A777;
}

/* ==========================================================================
      $Buttons
      ========================================================================== */
.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  border: 1px solid;
  border-radius: 7px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.btn:active, .btn:focus, .btn:hover {
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-primary {
  background-color: #291720;
  border-color: #291720;
  padding: 1em 1.5em;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: shade(#291720, 20%);
}

.btn-has-icon .icon {
  margin-right: 0.1em;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.btn-has-icon .icon-text {
  display: inline-block;
  -webkit-transform: translateX(-0.22em);
          transform: translateX(-0.22em);
  -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.btn-has-icon:active .icon, .btn-has-icon:focus .icon, .btn-has-icon:hover .icon {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-has-icon:active .icon-text, .btn-has-icon:focus .icon-text, .btn-has-icon:hover .icon-text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* ==========================================================================
      $Flexible Media
      ========================================================================== */
.flex-media {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.flex-media iframe,
.flex-media object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* ==========================================================================
      $Media Object
      ========================================================================== */
.media,
.media-body {
  overflow: hidden;
}

.media-left .media-img {
  float: left;
  margin-right: 1.277em;
}

.media-right .media-img {
  float: right;
  margin-left: 1.277em;
}

.media-img img {
  display: block;
}

/* ==========================================================================
      $Magnific Popup (lightbox)
      ========================================================================== */
.popup {
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  color: #1a1b1b;
  max-width: 976px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 85%;
}

.mfp-close {
  color: #DEDFDF;
  position: absolute;
  top: 0;
  right: 0;
}

/* $Interactive Stuff
      ========================================================================== */
.mfp-active.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: opacity 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.mfp-active .mfp-content {
  -webkit-transition: all 0.24s;
  transition: all 0.24s;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  opacity: 0;
}

.mfp-ready.mfp-bg {
  opacity: 0.85;
}

.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* ==========================================================================
      $Gallery
      ========================================================================== */
.gallery-items {
  padding: 0 0.31em;
}

.gallery-title {
  border-top: 1px solid #DEDFDF;
  border-bottom: 1px solid #DEDFDF;
  font-weight: 700;
  overflow: hidden;
  padding: 0.62em 1.277em;
}

.gallery-item {
  padding: 0.31em 0 0.62em;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.gallery-item:active, .gallery-item:focus, .gallery-item:hover {
  background-color: tint(#DEDFDF, 12%);
}

.gallery-item + .gallery-item {
  border-top: 1px solid #DEDFDF;
}

.gallery-item-desc {
  font-size: 77%;
  -webkit-transition: color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.gallery-item-desc:after {
  content: 'Playing';
  display: block;
  font-size: 80%;
  letter-spacing: 1px;
  speak: none;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.active .gallery-item-desc {
  color: #04A777;
  -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
          transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.active .gallery-item-desc:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
          transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  speak: normal;
}

@media (min-width: 925px) {
  .gallery-main {
    float: left;
    width: 65%;
  }
  .gallery-items {
    margin-top: 2.55em;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35%;
  }
}
/*# sourceMappingURL=playlist2.css.map */