{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'pervez/style.css' %}">
  <title>Quant Classes</title>
</head>

<body>

  {% include 'pervez/navbar.html' %}

  <section class="text-gray-500 bg-gray-900 body-font"
    style="background-image: url('https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60');">

    <div class="container px-5 pt-40 pb-20 mx-auto">

      <div class="flex flex-col text-center w-full mb-40 pb-16">

        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-100">QUANT METAMORPHOS</h1>
        <p class="lg:w-2/3 mx-auto text-gray-100 leading-relaxed text-base"><b> Whatever cardigan tote bag tumblr
            hexagon brooklyn
            asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun
            deep
            jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</b></p>
      </div>

      <button
        class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
    </div>
  </section>



  <section class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 pt-24 mx-auto flex flex-col">
      <div class="lg:w-4/6 mx-auto">

        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
            <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-800 text-gray-600">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-10 h-10" viewBox="0 0 24 24">
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
            <div class="flex flex-col items-center text-center justify-center">
              <h2 class="font-medium title-font mt-4 text-white text-lg">Pervez Khan</h2>
              <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
              <p class="text-base text-gray-600"></p>
            </div>
          </div>
          <div
            class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <p class="leading-relaxed text-lg mb-4">Meggings portland fingerstache lyft, post-ironic fixie man bun banh
              mi umami everyday carry hexagon locavore direct trade art party. Locavore small batch listicle gastropub
              farm-to-table lumbersexual salvia messenger bag.</p>

          </div>
        </div>
      </div>
    </div>
  </section>




  <section class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 pt-40 pb-3 mx-auto">
      <div class="flex flex-wrap w-full mb-32">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-200">Pitchfork Kickstarter Taxidermy
          </h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn
          asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep
          jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
      </div>

      <div class="flex flex-wrap -m-4 mb-24">
        {% for class in classes %}
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 p-6 rounded-lg">


            <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{ class.img }}" alt="content">
            <h2 class="text-lg text-gray-200 font-medium title-font mb-4">Class {{ class.clss }}</h2>
            <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery
              hexagon
              disrupt edison bulbche.</p>
          </div>

          <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
              <a href="{% url 'notes' cls=class.clss %}">Notes</a> </span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
              <a href="{% url 'q-n-a' cls=class.clss %}">Question Paper</a> </span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700  my-2">
              <a href="{% url 'lec-sub' cls=class.clss %}">Lectures</a> </span>
          </div>

        </div>

        {% endfor %}
      </div>

    </div>


  </section>



  <section class="text-gray-500 body-font bg-gray-900">

  </section>





  <!-- <div style="background-image: url('https://pixabay.com/photos/books-library-room-school-study-2596809/');">
        You can specify background images<br>
        for any visible HTML element.<br>
        In this example, the background image<br>
        is specified for a div element.<br>
        By default, the background-image<br>
        will repeat itself in the direction(s)<br>
        where it is smaller than the element<br>
        where it is specified. (Try resizing the<br>
        browser window to see how the<br>
        background image behaves.
        </div>
         -->





  <div class="flex flex-col text-center bg-gray-900 w-full pb-4">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-200">Blogs To read</h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-gray-200 text-base">Whatever cardigan tote bag tumblr hexagon
      brooklyn
      asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p>
  </div>





  <section class="text-gray-500 bg-gray-900 body-font">
    <img class=" h-64 w-full" src="https://source.unsplash.com/1600x300/?library" alt="">
    <div class="container px-5 py-8 mx-auto">
      <div class="flex flex-col">


      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-4 pb-16 mt-4">
        <div class="rounded-lg h-4 w-full overflow-hidden">
        </div>
        {% for blog in blogs %}
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <a href="{{ blog.url }}" target="blank">
            <h2 class="text-xl font-medium title-font text-gray-200 mt-5">{{ blog.title }}</h2>
            <p class="text-base leading-relaxed mt-2">{{ blog.short_content }}</p>
          </a>

        </div>
        {% endfor %}

      </div>
    </div>
  </section>








  <section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto bg-blue-100">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center ">



        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8"
          viewBox="0 0 975.036 975.036">
          <path
            d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
          </path>
        </svg>
        <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica
          stumptown taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui
          shaman taiyaki vape DIY tote.</p>
        <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD
        </h2>
        <p class="text-gray-500">Senior Product Designer</p>
      </div>
    </div>
  </section>




  {% load embed_video_tags %}

  <section class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 pt-32 pb-40 mx-auto">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-8 text-gray-200">Recommendations</h1>
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        {% for recommend in recommendations %}
        {% video recommend.vedio as my_video %}

        <div class="sm:w-1/3 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">

            <iframe width="560" height="315" src="{{ my_video.url }}" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              class="object-cover object-center h-full w-full" allowfullscreen></iframe>
          </div>
          <a href="{{recommend.vedio}}" target="blank">
            <h2 class="title-font text-2xl font-medium text-gray-200 mt-6 mb-3">{{ recommend.title }}</h2>
          </a>
        </div>
        {% endvideo %}
        {% endfor %}

      </div>
      <br>
      <hr><br>
    </div>
  </section>






  <!-- background-image: url("img_tree.gif");
      background-repeat: no-repeat;
      background-attachment: fixed;

      style="background-image: url('https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_960_720.jpg'); background-repeat: no-repeat; background-attachment: fixed; -->




  <section class="text-gray-500 bg-gray-900 body-font relative">
    <div class="container px-5 py-24 mx-auto flex sm:flex-no-wrap flex-wrap">
      <div
        class="lg:w-2/3 md:w-1/2 bg-gray-900 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
        <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0"
          marginwidth="0" scrolling="no" src="https://cdn.pixabay.com/photo/2017/01/12/15/55/email-1975018_960_720.png"
          style=" contrast(1.2) opacity(0.4); background-repeat: no-repeat;"></iframe>
        <div class="bg-gray-900 relative flex flex-wrap py-6">
          <div class="lg:w-1/2 px-6">
            <h2 class="title-font font-medium text-white tracking-widest text-sm">ADDRESS</h2>
            <p class="leading-relaxed">Photo booth tattooed prism, portland taiyaki hoodie neutra typewriter</p>
          </div>
          <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
            <h2 class="title-font font-medium text-white tracking-widest text-sm">EMAIL</h2>
            <a class="text-orange-500 leading-relaxed">example@email.com</a>
            <h2 class="title-font font-medium text-white tracking-widest text-sm mt-4">PHONE</h2>
            <p class="leading-relaxed">123-456-7890</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 md:w-1/2 flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
        <h2 class="text-white text-lg mb-1 font-medium title-font">Feedback</h2>
        <p class="leading-relaxed mb-5 text-gray-600">Post-ironic portland shabby chic echo park, banjo fashion axe</p>
        <input
          class="bg-gray-800 rounded border border-gray-700 focus:outline-none focus:border-orange-500 text-base text-white px-4 py-2 mb-4"
          placeholder="Name" type="text">
        <input
          class="bg-gray-800 rounded border border-gray-700 focus:outline-none focus:border-orange-500 text-base text-white px-4 py-2 mb-4"
          placeholder="Email" type="email">
        <textarea
          class="bg-gray-800 rounded border border-gray-700 focus:outline-none h-32 focus:border-orange-500 text-base text-white px-4 py-2 mb-4 resize-none"
          placeholder="Message"></textarea>
        <button
          class="text-white bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-orange-600 rounded text-lg">Button</button>
        <p class="text-xs text-gray-500 mt-3">Chicharrones blog helvetica normcore iceland tousled brook viral artisan.
        </p>
      </div>
    </div>
  </section>


</body>

</html>