{% include 'pervez/navbar.html' %}
{% load embed_video_tags %}
<br>



<section class="text-gray-500 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <iframe width="1000" height="600"  id="vid_frame" src="{{url}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="lg:w-1/1 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-white text-3xl title-font font-medium mb-1">{{subtop.chapter}}</h1>
        {% for st in subtop %}

        {% video st.vedio as my_video %}

          <a href="javascript:void();" onClick="document.getElementById('vid_frame').src='{{ my_video.url }}'">

            <h2 class="text-lg title-font text-gray-300 tracking-widest"> {{ st.sub_topic }}  </h2><br>
            <h2 class="text-lg title-font text-gray-300 tracking-widest"> {{ st.extras|safe }}  </h2><br>

          </a>
    <hr><br>
        {% endvideo %}
        {% endfor %}
        <script src="/pervez/static/pervez/playlist.js"></script>

        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-800 mb-5">

        </div>
        <div class="flex">

          <button
            class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
         
        </div>
      </div>
    </div>
  </div>
</section>

