{% include 'pervez/navbar.html' %}


<section class="text-gray-500 bg-gray-900 body-font overflow-hidden">
    <div class="container px-5 py-48 mx-auto">
        <h1 class="text-3xl font-medium title-font text-white mb-12 text-center">Question Papers </h1>
        <div class="-my-8">
            {% for class in classes %}
            <div class="py-8 flex flex-wrap md:flex-no-wrap">
                <div class="md:flex-grow">
                    <a href="{% url 'q-n-a' cls=class %}"><h2 class="text-2xl font-medium text-white title-font mb-2">Class {{ class }}</h2>
                    <p class="leading-relaxed">{{ class.quote }}</p></a>
                   
                </div>
            </div>
            <br><hr><br>
            {% endfor %}
        </div>
    </div>
</section>